<h1>Logon#login</h1>
<%= form_tag :action => "login" %> 

	<div class="field">
		Username:<br />
		<%= text_field_tag :username, params[:username] %> 
	</div>
	<div class="field"> 
		Password:<br /> 
		<%= password_field_tag :userpass, params[:userpass] %>
	</div> 
	<div class="actions">
		<%= submit_tag "Sign in" %> 
	</div>

