#background {
	background-color: white;
}
#login {
	position: absolute;
	top: 200px;
	left: 450px;
	font-family: 'courier';
	border: solid;
	background-color: #C8D2D9;
	padding-left: 3cm;
	padding-right: 3cm;
	border-color: white;
}

#logout {
	position: absolute;
	top: 200px;
	left: 450px;
}
/* Conteúdos principais*/
#contents{
	position: absolute;
	top: 50px;
	left: 50px;
	border: solid;
	border-color: white;
	background-color: #C8D2D9;
	padding-right: 2cm;
	padding-left: 0.5cm;
	padding-bottom: 0.3cm;
	width: 28cm; /* Comprimento do bloco */
}

#menu ul li{
	display: inline;
}